body {
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}
.details h2 {
  color: rgb(208, 38, 38);
}
h2 span {
  color: rgb(10, 192, 213);
}
